button:focus { outline: none; }


#navbar-primary{
    width:100%;
    height: 130px;
    background-color: white;
    box-shadow: 0 10px 4px -2px rgba(0,0,0,0.6);
 }
 
#logo {
	height: 90px;
}

#search {
	width: 25px;
}

#backgroundPrimary{
	position:absolute;
    width:100%;
    height: 1000px;
    background-size: 100%;
    background-image: linear-gradient(transparent, white 90%), url("background2.png");
    z-index: -1;

}

#backgroundSpacer{
    width:100%;
    height: 250px;
    z-index: -1;

}

#contentPrimary{
	padding-top:30px;
	background-color:rgba(255, 255, 255, 0.8);
	height:100vh;
}

#searchBar{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: white;
}

#rankContents{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#recipeBody{
  margin-top: 75px;
}

#recipeDetail{
  margin-top:40px;
  background-color: white;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#footerPrimary{
	background-color: rgb(50, 128, 72);
}

#spacer{
	height:10vh;
}

#space{
	height:10vh;
}

#fText{
	color: white;
}

#fLogo{
	height:15px;
	filter: invert(99%) sepia(0%) saturate(3633%) hue-rotate(176deg) brightness(94%) contrast(108%);
}

#imgBoard{
	max-height:100%;
	max-width:100%;
	object-fit: contain;
}

textarea {
  background: transparent;
  color: transparent;
  resize: none;
  border: 0 none;
  width: 100%;
  outline: none;
  height: 100%;
}

#bigTitle{
	font-size: 3em;
}

#dashboard{
	width:100%;
}


